.battlestations {
  padding-bottom: 5rem;
}

.battlestations__title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.battlestations__subtitle {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.battlestations__list {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0 2.5rem;
  text-align: left;
}

.battlestations__item {
  background: var(--card-background);
  border-radius: var(--item-radius);
  box-shadow: var(--shadow);
  display: grid;
  gap: 1.5rem;
  padding: 1.75rem;
  position: relative;
  transition: box-shadow .6s ease;
}

.battlestations__item-link {
  height: 100%;
  width: 100%;
}

.battlestations__item-image {
  border-radius: var(--item-radius);
  box-shadow: var(--shadow);
  height: 50rem;
  object-fit: cover;
  width: 100%;
}

.battlestations__item-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.battlestations__item-upvotes {
  font-size: 1.6rem;
}

.battlestations__item-subreddit {
font-size: 1.4rem;
}