@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
  --background: #edf1F5;
  --button: #000;
  --button-color: #fff;
  --button-radius: 1rem;
  --card-background: #fff;
  --item-active: #02a9ff;
  --item-background: #edf1F5;
  --item-hover: #d6e0ef;
  --item-radius: .5rem;
  --shadow: 0 0 2.5rem rgb(0 0 0 / 10%);
}

html.dark {
  --background: #1c2023;
  --button: #fffffe;
  --button-color: #7f5af0;
  --card-background: #252a2e;
  --item-background: #20232D;
  --item-hover: #f5f6fd;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: var(--background);
  font-family: 'Work Sans', sans-serif, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

span {
  display: block;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  height: 2px;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}

.text-gradient {
  background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
}